:root {
  --color-white: #ffffff;
  --color-dark-blue: #10172c;
  --color-blue: #00305a;
  --color-creme-red: #b88282;
  --color-grey-50: #adadad;
  --color-grey-60: #bbbbbb;
  --color-grey-70: #c7cdd6;
  --color-grey-80: #d6d6d6;
  --color-grey-90: #dbdce0;
  --color-grey-100: #efefef;
  --color-primary: var(--color-dark-blue);
  --color-secondary: var(--color-blue);
  --color-tertriary: var(--color-creme-red);
  --color-focus-visible-outline: var(--color-blue);
}
