:root {
  --header-height: 133px;
  --footer-height: 72px;
  --viewport-width-max: 1385px;
  --layout-gutter: 60px;
  --page-content-end-padding-big: 200px;
  --page-content-end-padding-medium: 100px;
  --page-content-end-padding-small: 80px;
}

@media (--desktop-gradation-2) {
  :root {
    --layout-gutter: 50px;
  }
}

@media (--media-tablet-min) {
  :root {
    --layout-gutter: 40px;
  }
}

@media (--media-mobile-max) {
  :root {
    --layout-gutter: 25px;
  }
}
