@custom-media --desktop-gradation-1 (max-width: 1385px);
@custom-media --desktop-gradation-2 (max-width: 1100px);
@custom-media --media-tablet-main (max-width: 768px);
@custom-media --media-tablet-min (max-width: 601px);
@custom-media --media-tablet-max (max-width: 1280px);
@custom-media --media-mobile-main (max-width: 360px);
@custom-media --media-mobile-min (max-width: 360px);
@custom-media --media-mobile-max (max-width: 430px);
