.image-slider {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  padding: 2rem;
  display: grid;
  justify-items: center;
}

.viewport {
  overflow: hidden;
}

.slides {
  display: grid;
  grid-auto-flow: column;
}

.slide {
}

.indicators {
}

.indicator {
  color: var(--color-grey-90);
}

.indicator-active {
  color: var(--color-tertriary);
}

.indicator svg {
}
