.image-slider {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  row-gap: 16px;
}

.viewport {
  overflow: hidden;
  background-color: red;
}

.slides {
  display: grid;
  grid-auto-flow: column;
}

.slide {
}

.indicators {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}

.indicator {
  color: var(--color-grey-90);
}

.indicator-active {
  color: var(--color-tertriary);
}

.indicator svg {
}
