.image-slider {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  row-gap: 16px;
}

.viewport {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides {
  position: absolute;
  height: 100%;
  display: flex;
  grid-auto-flow: column;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  cursor: grab;
}

.slides-swiping {
  cursor: grabbing;
}

.slide {
  height: 100%;
  box-sizing: content-box;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.indicators {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}

.indicator {
  color: var(--color-grey-90);
}

.indicator-active {
  color: var(--color-tertriary);
}
