.image-slider {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  row-gap: 16px;
  background-color: blueviolet;
}

.viewport {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: red;
}

.slides {
  position: absolute;
  left: -250px; /* TODO: update via index but first calculate width properly */
  height: 100%;
  display: flex;
  grid-auto-flow: column;
  background-color: yellow;
  border: 10px solid salmon;
}

.slide {
  height: 100%;
}

.indicators {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}

.indicator {
  color: var(--color-grey-90);
}

.indicator-active {
  color: var(--color-tertriary);
}

.indicator svg {
}
