.image-slider {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  padding: 2rem;
}

.viewport {
  overflow: hidden;
}

.slides {
  display: grid;
  grid-auto-flow: column;
}

.slide {
}
