<app-default-page-layout>
  @if (deviceService.isWidth601()) {
    <app-heading title="Hallo 601" />
  } @else {
    <app-heading title="Planets" />
  }
  @let width = deviceService.width();
  <h1>width: {{ width }}</h1>
  @if (width !== undefined && width < 900) {
    <h1>I'm under 900</h1>
  }
  @let data = collection.data();
  @if (data.items.length > 0) {
    <app-image-grid>
      @for (item of data.items; track $index) {
        <app-image-grid-item
          [imageUrl]="item.images[0].url"
          [imageAlt]="imageTitle(item)"
          [label]="item.name"
          [linkUri]="linkUri(item)"
        >
          @if (item.climate) {
            <div class="g-truncate-1">Climate: {{ item.climate }}</div>
          }
          @if (item.terrain) {
            <div class="g-truncate-1">Terrain: {{ item.terrain }}</div>
          }
          @if (item.population) {
            <div class="g-truncate-1">Population: {{ item.population }}</div>
          }
        </app-image-grid-item>
      }
    </app-image-grid>
  }
</app-default-page-layout>
