.header {
  min-height: var(--header-height);
  display: grid;
  align-items: center;
}

.header-inner {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 76px;
  padding: 20px 0;
}

.header-inner-main {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 76px;
}

.header-logo {
  /* TODO: text und hintergrund einfärben, zumindest text und alternativ 2 svgs ablegen falls man per css nicht 2 farben in nem svg setzen kann */
  color: orange;
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
  row-gap: 12px;
}
