.header {
  min-height: var(--header-height);
  display: grid;
  align-items: center;
  background-color: var(--color-white);
}

.content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 76px;
  padding: 20px 0;
}

.main {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 76px;
}

.logo {
  color: var(--color-primary);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
  row-gap: 12px;
}
