<header class="header">
  <div class="g-layout-container content">
    <div class="main">
      <a class="logo" [routerLink]="['/']" aria-label="Go to home page">
        <svg width="83" height="37" aria-hidden="true" focusable="false">
          <use href="assets/svg-sprite-sheet/build/sprite-sheet.svg#star-wars-logo"></use>
        </svg>
      </a>
      <!-- TODO: Make use of Angular Aria for this navigation -->
      <nav class="navigation" aria-label="Primary">
        <app-header-link [label]="'Filme'" [routerLink]="['/movies']"></app-header-link>
        <app-header-link
          [label]="'Charaktere'"
          [routerLink]="['/characters']"
        ></app-header-link>
        <app-header-link
          [label]="'Planeten'"
          [routerLink]="['/planets']"
        ></app-header-link>
      </nav>
    </div>
    <div class="header-search-bar" [style]="{ display: 'none' }">search_bar</div>
  </div>
</header>
