.image-grid-item {
  aspect-ratio: calc(423 / 527);
  display: grid;
  grid-template-rows: 1fr 200px;
}

.image {
  height: 100%;
  object-fit: cover;
}

.description-container {
  background-color: var(--color-grey-100);
  color: var(--color-primary);
  padding: 26px 24px;
  display: grid;
  overflow: hidden;
}

.description {
  margin-top: 16px;
  overflow: hidden;
}

.link {
  --marign-top: 20px;
  --padding-for-click-area: 12px;
  align-self: end;
  justify-self: start;
  margin-top: calc(var(--marign-top) - var(--padding-for-click-area));
  padding: var(--padding-for-click-area);
  margin-left: calc(var(--padding-for-click-area) * -1);
  margin-bottom: calc(var(--padding-for-click-area) * -1);
}
