.image-grid-item {
  aspect-ratio: calc(423 / 527);
  display: grid;
  grid-template-rows: 5fr 3fr;
}

.image {
  height: 100%;
  object-fit: cover;
}

.description-container {
  background-color: var(--color-grey-100);
  color: var(--color-primary);
  padding: 26px 24px;
  display: grid;
  overflow: hidden;
}

.description {
  margin-top: 16px;
  overflow: hidden;
}

.link {
  margin-top: 20px;
}
