.resource-grid-layout {
  height: 100%;
  background-color: var(--color-white);
  padding-bottom: var(--page-content-end-padding-big);
}

@media (max-width: 1100px) {
  .resource-grid-layout {
    padding-bottom: var(--page-content-end-padding-medium);
  }
}

@media (max-width: 601px) {
  .resource-grid-layout {
    padding-bottom: var(--page-content-end-padding-small);
  }
}
