.resource-detail-body-layout {
  background-color: var(--color-white);
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: minmax(401px, auto) auto;
  grid-template-areas:
    'details slider'
    'links .';
  column-gap: 152px;
  row-gap: 33px;
  margin-left: 20px;
  padding-bottom: var(--page-content-end-padding-big);
}

.details {
  grid-area: details;
}

.slider {
  grid-area: slider;
}

.links {
  grid-area: links;
  display: grid;
  row-gap: 47px;
}

@media (max-width: 1385px) {
  .resource-detail-body-layout {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-areas:
      'details slider'
      'links links';
    margin-left: 0;
  }
}

@media (max-width: 1100px) {
  .resource-detail-body-layout {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'slider'
      'details'
      'links';
    column-gap: 0;
    row-gap: 55px;
    padding-bottom: var(--page-content-end-padding-medium);
  }
}

@media (max-width: 601px) {
  .resource-detail-body-layout {
    padding-bottom: var(--page-content-end-padding-small);
  }
}
