.g-layout-container {
  display: block;
  width: min(100% - (var(--layout-gutter) * 2), var(--viewport-width-max));
  margin-inline: auto;
}

.g-page-content {
  padding-bottom: var(--page-content-end-padding-big);
}

@media (--desktop-gradation-2) {
  .g-page-content {
    padding-bottom: var(--page-content-end-padding-medium);
  }
}

@media (--media-tablet-min) {
  .g-page-content {
    padding-bottom: var(--page-content-end-padding-small);
  }
}
