.header-navigation-link {
  font-size: var(--fs-14);
  line-height: var(--lh-17);
  font-weight: var(--fw-400);
  color: var(--color-primary);
  padding-bottom: 4px;
}

.header-navigation-link:hover,
.header-navigation-link:focus-visible,
.header-navigation-link.is-active {
  border-bottom: 2px solid var(--color-primary);
}
