/* TODO: this is actually the full content area wrapper element of a generic layout component, not just tied to characters */
.characters {
  height: 100%;
  background-color: var(--color-white);
  padding-bottom: var(--page-content-end-padding-big);
}

@media (max-width: 1100px) {
  .characters {
    padding-bottom: var(--page-content-end-padding-medium);
  }
}

@media (max-width: 601px) {
  .characters {
    padding-bottom: var(--page-content-end-padding-small);
  }
}
