<div class="movies">
  <div class="g-layout-container">
    <app-page-heading title="Movies" />
    @let data = collection.data();
    @if (data.items.length > 0) {
      <app-image-grid>
        @for (item of data.items; track $index) {
          <app-image-grid-item
            [imageUrl]="item.images[0].url"
            [imageAlt]="imageAlt(item)"
            [label]="item.title"
            [linkLabel]="linkLabel(item)"
            [link]="link(item)"
          >
            @if (item.director) {
              <div>Director: {{ item.director }}</div>
            }
            @if (item.producer) {
              <div>Producers: {{ item.producer }}</div>
            }
            @if (item.releaseDate) {
              <div>Publication Date: {{ item.releaseDate | date: 'shortDate' }}</div>
            }
          </app-image-grid-item>
        }
      </app-image-grid>
    }
  </div>
</div>
