<div class="movies">
  <div class="g-layout-container">
    <app-page-heading title="Movies" />
    @let data = collection.data();
    @if (data.items.length > 0) {
      <pre>{{ `Found ${data.count} movies.` }}</pre>
      <app-image-grid [items]="gridItems()">
        @for (item of gridItems(); track $index) {
          <app-image-grid-item
            [imageUrl]="item.imageUrl"
            [imageAlt]="item.imageAlt"
            [label]="item.label"
            [linkLabel]="item.linkLabel"
          >
            <div>foo</div>
            <div>bar</div>
            <div>baz</div>
          </app-image-grid-item>
        }
      </app-image-grid>
    }
  </div>
</div>
