@if (item.data(); as data) {
  <app-resource-detail-layout [hasSlider]="data.images.length > 0">
    <app-page-heading
      resourceDetailHeading
      location="Planet Details"
      [title]="data.name"
    />

    <section resourceDetailDetails aria-labelledby="details-heading">
      <app-labeled-box>
        <h2 class="g-title-3" id="details-heading" #label>Details:</h2>
        <app-row-description-list [items]="descriptionRows()" />
      </app-labeled-box>
    </section>

    @if (data.images.length) {
      <app-image-slider
        resourceDetailSlider
        [images]="data.images"
        [viewportHeight]="374"
      />
    }

    @if (data.residentIds.length) {
      <app-labeled-box resourceDetailLinks>
        <h2 class="g-title-3" id="details-heading" #label>Residents:</h2>
        <app-link-list>
          @for (id of data.residentIds; track $index) {
            @let mock = `Character no. ${id}`;
            <app-link-list-item [linkUri]="['/character', id]">
              {{ mock }}
            </app-link-list-item>
          }
        </app-link-list>
      </app-labeled-box>
    }

    @if (data.filmIds.length) {
      <app-labeled-box resourceDetailLinks>
        <h2 class="g-title-3" id="details-heading" #label>Films:</h2>
        <app-link-list>
          @for (id of data.filmIds; track $index) {
            @let mock = `Film no. ${id}`;
            <app-link-list-item [linkUri]="['/movie', id]">
              {{ mock }}
            </app-link-list-item>
          }
        </app-link-list>
      </app-labeled-box>
    }
  </app-resource-detail-layout>
}
