.link-list-item {
  color: var(--color-primary);
  background-color: var(--color-grey-100);
  height: 55px;
  min-width: 100px;
  max-width: 200px;
  padding: 0 25px;
  display: inline-grid;
  place-items: center;
}
